@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto+Slab&display=swap');

html,body{
  margin: 0;
  padding: 0;
}

*{
  font-family: 'Roboto Slab', serif;
}

.home h1{
  font-family: 'Lilita One', cursive;
  font-size: 60px;
  color: #3c7dae;
}

.primary-button{
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(45deg, #28408f,#3890d3);
  padding: 12px 30px;
  border-radius: 10px;
  border: none;
}

.primary-button:hover{
  background: linear-gradient(45deg,#172d73,#2779b8) ;
}

.secondary-button{
  color: rgb(254, 254, 254);
  background-color: #391773;
  font-weight: 500px;
  font-size: 15px ;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 6px;
  border-radius: 10px;
}

.secondary-button:hover{
  background-color: #210b47;
}

body{
  text-align: center;
}


/* navbar */
nav{
  width: 100%; 
  display: flex;
  justify-content: space-between;
}

nav .logo-container  {
  width: 130px;
  margin: 15px;
}

nav .logo-container .logo{
  width: 120%;
}

nav .nav-button{
  color: #ffffff;
  background: #9b73db;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;

}

nav .nav-button:disabled{
  color: #b8b8b8;
  background: #5e2bb0;

}
/* Home page */


.overlay{
  width:100vw;
  height: 100vh;
  /* position: fixed; */
}

/* AuthModal */

.auth-button{
color: rgb(13, 57, 218);
background: rgb(255, 14, 14);
border: none;
font-size: 15px;
width: 7%;
border-radius: 50px;
color: #eaeaea;
float: right;
}

.auth-model{
  font-size: 30px;
  position: absolute;
  top: 330px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  height: 600px;
  width: 30%;
  background-color: rgb(178, 176, 239);
  padding: 40px;
  border-radius: 50px;
}

.auth-model form{
  display: flex;
  flex-direction: column;
}

.auth-model input{
  padding: 8px;
  margin: 8px;
  font-size: 17px;
  border-radius: 10px;
  border: none;

}